View#service(layout="vertical" backgroundColor=white)
  View(height="30%" width="100%")
    ImageView(image="/images/service/service_scroll.png" height="100%" width="100%")
  View(height="60%" layout="vertical")
    View(height="50%" layout="horizontal")
      View(layout="vertical" width="50%" center=true borderColor="gray" borderWidth="0.3")
        ImageView(image="/images/service/customize.png" width="50%" center=true top="20%")
        Label(title="装修定制")
      View(layout="vertical" width="50%" center=true borderColor="gray" borderWidth="0.3")
        ImageView(image="/images/service/design.png"    width="50%" center=true top="20%")
        Label(title="专业设计")
    View(height="50%" layout="horizontal")
      View(layout="vertical" width="50%" center=true borderColor="gray" borderWidth="0.3")
        Image(image="/images/service/worker.png" width="50%" center=true top="20%")
        Label(title="装修工人")
      View(layout="vertical" width="50%" center=true borderColor="gray" borderWidth="0.3")
        Image(image="/images/service/manager.png" width="50%" center=true top="20%")
        Label(title="我的管家")
